@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--common-font);
}

:root {
  --padding: 8px;
  --margin: 16px;

  --common-font: "Roboto", sans-serif;
  --header-font: "Montserrat", sans-serif;

  --card-width: 120px;
  --card-height: 150px;

  --lightest-color: #FDF4F5;
  --pink: #E8A0BF;
  --purple: #BA90C6;
  --blue: #C0DBEA;

  --base-blue: #1CB3C8;
  --light-gray: #738598;
  --light-yellow: #FFFFD2;
}

header {
  background-color: var(--blue);
  padding: var(--padding);
}

.game-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--padding);
}

/* Cards (start) */
.cards-cont {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  justify-items: center;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
  padding: var(--padding);
  width: max-content;
  position: relative;
}

.card {
  min-width: max-content;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  position: relative;
  
  width: var(--card-width);
  height:var(--card-height);

  transform-style: preserve-3d;
  transition: transform 0.3s linear;
  transform: rotateY(180deg) rotateZ(20deg);
}

.card.flip-front.disabled:hover {
  cursor: default;
  transform: scale(1);
}

.card.flip-front:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
  transform: scale(1.2);
}

@keyframes sway {
  from {  
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
} 

.card.flip-front.disabled:hover .pkmn-image {
  animation: none;
}

.card.flip-front:hover .pkmn-image {
  animation: sway 0.5s alternate-reverse infinite;
}

.card > * {
  pointer-events: none;
}

.card.flip-back {
  transform: rotateY(180deg) rotateZ(20deg);
}

@keyframes flip-front {
  from {
    transform: rotateY(180deg) rotateZ(20deg);
  } to {
    transform: rotateY(0deg) rotateZ(0deg);
  }
}

.card.flip-front {
  animation: flip-front 0.3s ease-in-out 1;
  transform: rotateY(0deg) rotateZ(0deg);
}

.card-front, .card-back {
  border-radius: 5px;
  border: 1px solid black;
  padding: var(--padding);
  backface-visibility: hidden;
}

.card-front {
  width: 100%;
  height: 100%;
  background-color: var(--lightest-color);
  border: 1px solid var(--pink);
  box-shadow: 0 0 3px 1px #BA90C6;

  display: grid;
  grid-template-columns: 1fr;

  justify-items: center;
}

.pkmn-image {
  object-fit: cover;
  object-position: center;
}

.pkmn-name {
  text-align: center;
  font-size: 0.7em;
  max-width: 100px;
  text-wrap: wrap;
}

.card-back {
  width: 100%;
  height: 100%;
  border: 3px solid var(--purple);
  background-color: var(--blue);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  right: 0;
  transform: rotateY(180deg);
}

.level-icon {
  width: 50%;
}

/* Cards (end) */

/* Score Board (start) */
.main-score-board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  width: 80%;
  padding: var(--padding);
  background-color: var(--lightest-color);
  border: 5px solid var(--light-gray);
  border-radius: 10px;
  gap: 5px;
}

.score-label {
  font-size: 1rem;
  grid-column: 1 / 2;
  
}

.level-label {
  font-size: 1rem;
  justify-self: end;
} 

.score-bar {
  grid-column: 1 / 3;
  border: 3px solid var(--light-gray);
  background-color: var(--light-yellow);
  border-radius: 10px;
  height: 30px;
  padding: 2px;
  overflow: hidden;
}

.meter {
  background: var(--base-blue);
  border-radius: 5px;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

/* Score Board (end) */

/* Game Over Modal (start) */
.modal-screen {
  margin: auto;
  border: 1px solid transparent;
  border-radius: 10px;
}

.modal-screen::backdrop {
  background-color: rgba(186, 144, 198, 0.5);
  filter: brightness(0.3);
}

.modal-content {
  width: 50vw;
  max-width: 350px;
  padding: calc(var(--padding) * 2);
}

.modal-screen.loading-screen {
  border: 1px solid transparent;
  background-color: transparent;
}

.loading-screen .modal-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: var(--margin);
  border: none;
  background-color: transparent;
}

@keyframes wiggle {
  from {
    transform: rotateZ(15deg) translateX(5px);
  }
  to {
    transform: rotateZ(-15deg) translateX(-5px);
  }
}

.loading-icon {
  width: 100px;
  height: 100px;
  animation: wiggle 0.5s ease-in-out alternate infinite;
  transform-style: preserve-3d;
}


/* Game Over Modal (end) */