@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--common-font);
}

:root {
  --padding: 8px;
  --margin: 16px;

  --common-font: "Roboto", sans-serif;
  --header-font: "Montserrat", sans-serif;
}

.game-area {
  display: grid;
  grid-template-columns: 0fr 1fr;
}

.cards-cont {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  /* grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px); */

  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
  padding: var(--padding);
  width: max-content;
}

.card {
  border: 1px solid black;
  width: max-content;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s linear;
}

.card > * {
  pointer-events: none;
}

@keyframes flip-to-back {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes flip-to-front {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.card.flip-back {
  animation: flip-to-back 0.3s linear;
  transform: rotateY(180deg);
}

.card.flip-front {
  animation: flip-to-front 0.3s linear;
  transform: rotateY(0deg);
}

/* .card:not(.flip) {
  transform: rotateY(0deg);
} */

.card-front, .card-back {
  object-fit: cover;
  object-position: center;
  border: 1px solid black;
  padding: var(--padding);
  backface-visibility: hidden;
}

.card-front {
  width: 100%;
  height: 100%;
  background-color: red;
}

.pkmn-image {
  width: 150px;
  object-fit: cover;
  object-position: center;
}

.pkmn-name {
  text-align: center;
}

.card-back {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: blue;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  right: 0;
  transform: rotateY(180deg);
}

.level-icon {
  width: 50%;
}